.App{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.word{
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
}

.letter{
    background-color: #363a4f;

    padding: 10px;
    margin:2px;

    display:inline-block;

    border-radius: 5px;
}

.active-letter{
    border-bottom: 4px solid black;
}

body{
    background-color: #24273a;
    color:#c5cff5;
}